<div *ngIf="vet" class="card" style="width: 18rem;">
    <img src="assets/veterinarian.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 *ngIf="vet.onDuty"><img class="dot" src="assets/icons8-green-dot-48.png">&#160;{{vet.firstName + ' ' +
            vet.lastName}}</h5>
        <h5 *ngIf="!vet.onDuty"><img class="dot" src="assets/icons8-red-dot-48.png">&#160;{{vet.firstName + ' ' +
            vet.lastName}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Phone number - {{vet.phoneNumber}}</li>
        <li class="list-group-item">Specialization - {{vet.specialization}}</li>
        <li *ngIf="vet.onDuty" class="list-group-item">This Veterinarian is on Duty</li>
        <li *ngIf="!vet.onDuty" class="list-group-item">This Veterinarian is not on Duty</li>
    </ul>
</div>