<section class="py-5">
	<div class="container">
		<div class="row align-items-center gx-4">
			<div class="col-md-5">
				<div class="ms-md-2 ms-lg-5"><img class="img-fluid rounded-3" src="assets/img2.jpg"></div>
			</div>
			<div class="col-md-6 offset-md-1">
				<div class="ms-md-2 ms-lg-5">
					<h2 class="display-5 fw-bold">About Us</h2>
					<p class="lead">Welcome to Veterinary Record Application, your go-to platform for managing veterinary records efficiently.</p>
					<p class="lead mb-0">We strive to provide veterinarians and clinics with the tools they need to streamline their operations and deliver exceptional care to animals.</p>
                    <p class="lead mb-0">Our mission is to support the veterinary community by offering intuitive and powerful software solutions that enhance productivity and improve patient outcomes.</p>
                </div>
			</div>
		</div>
	</div>
</section>