<div class="card" style="width: 25rem;">
    <div class="card-body">
        <form class="custom-form" (ngSubmit)="register()">
            <h3>Registration</h3>
            <small *ngIf="message">{{message}}</small>
            <div class="form-group">
                <label for="exampleInputUsername1">Username</label>
                <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Enter username"
                    name="username" required #usernameField="ngModel" [(ngModel)]="user.username" style="width: 100%;">
                <small *ngIf="usernameField.errors?.['required']">This field is required.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password"
                    name="password" required #passwordField="ngModel" [(ngModel)]="user.password" style="width: 100%;">
                <small *ngIf="passwordField.errors?.['required']">This field is required.</small>
            </div>
            <button type="submit" class="btn custom-btn">Register</button>
        </form>
    </div>
</div>
