<!-- OVO JE KAD  SE KORISTI ngClass i ngStyle

<div class="vet-container">
    <div class="name">
        <h3>{{vet.firstName + ' ' + vet.lastName}}</h3>
    </div>
    <div class="phoneNumber" [ngClass]="vetClasses">{{vet.phoneNumber}}</div>
    <div class="phoneNumber" [ngStyle]="vetStyles">{{vet.phoneNumber}}</div>
    <button (click)="toggleFavorite($event)" *ngIf="!vet.favorite">Add to Favorite</button>
</div> -->

<!--
<div class="vet-container" *ngFor="let vet of vets; index as i">
    <div class="name">
        <h3>{{vet.firstName + ' ' + vet.lastName}}</h3>
    </div>
    <div class="phoneNumber" [class]="vet.isSerbianNumber() ? 'serbian' : 'non-serbian'">{{vet.phoneNumber}}</div>
    <button (click)="toggleFavorite($event, i)" *ngIf="!vet.favorite">Add to Favorite</button>
</div> -->


<!-- <div class="vet-container" *ngIf="vet" routerLink="/vets/{{vet.phoneNumber}}">
    <div class="name">
        <h3>{{vet.firstName + ' ' + vet.lastName}}</h3>
    </div>
    <div class="phoneNumber" [class.positive]="isPhoneNumberPositive()" 
                             [class.negative]="!isPhoneNumberPositive()">
                             {{vet.phoneNumber}}</div>
    <button (click)="onToggleFavorite($event)" 
            *ngIf="!vet.favorite">Add to Favorite</button>
    <button (click)="onToggleFavorite($event)"
            *ngIf="vet.favorite">Remove from Favorite</button>
</div> -->


<div class="card" *ngIf="vet">
    <div class="card-body">
        <h5 class="card-title">{{vet.firstName + ' ' + vet.lastName}}</h5>
        <p class="card-text" routerLink="/vets/{{vet.phoneNumber}}">Learn more...</p>
        <button class="btn custom-btn" (click)="onToggleOnDuty($event)" *ngIf="!vet.onDuty">Set On Duty</button>
        <button class="btn custom-btn" (click)="onToggleOnDuty($event)" *ngIf="vet.onDuty">Remove from
            Duty</button>
    </div>
</div>