<nav class="navbar navbar-expand-lg navbar-custom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home-page">
            <img src="assets/health.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span class="ms-2">Veterinary Record Application</span>
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/home-page" routerLinkActive="active">Home</a>
          <a class="nav-link" routerLink="/vets/list" routerLinkActive="active">Veterinarians</a>
          <a class="nav-link" routerLink="/vets/create" routerLinkActive="active">Create Veterinarian</a>
          <!-- <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About us</a> -->
        </div>
        <div class="navbar-nav ms-auto">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
        </div>
      </div>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
  
  <app-footer></app-footer>
  
  