.navbar-custom {
    background-color: #659758;
}

.navbar-custom .nav-link {
    color: #FFFFFF;
}

.navbar-custom .nav-link.active {
    color: #3d4a39;
}

.navbar-custom .navbar-brand {
    color:#3d4a39;
}
