.custom-container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
  }

.custom-row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.9rem;
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.custom-col {
    margin-bottom: 15px;
    padding-left: 0.75rem;
    padding-right: 0.75rem; 
}