<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Welcome to Veterinary Record App</h5>
        <p>Here, you can manage veterinarians in your clinic.</p>
      </div>
    </div>
    <!-- <div class="carousel-item">
      <img src="assets/img2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Efficient Clinic Management</h5>
        <p>Simplify your clinic operations with our intuitive interface.</p>
      </div>
    </div> -->
    <div class="carousel-item">
      <img src="assets/img4.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Secure and Accessible Data</h5>
        <p>Ensure data security with our encrypted storage solutions.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Efficient Team Collaboration</h5>
        <p>Coordinate seamlessly with your team.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<app-about-us></app-about-us>
